* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#aside {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #03045E;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 0 8px 8px 0;
}

.aside-top {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.icon {
    height: 24px;
    width: 24px;
}

#section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wrapper-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 10px 40px 10px 40px;
    gap: 40px;
}

.search, .search-1 {
    border: 2px solid #E5E5E5;
    padding: 10px;
    border-radius: 16px;
    font-size: 16px;
    color: #E5E5E5;
    outline: none;
}

.search {
    width: 100%;
}

.wrapper-2, .wrapper-3 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    gap: 16px;
}

.wrapper-2 {
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    padding: 10px 40px 0px 40px;
}

.search-1 {
    width: 100%;
    height: 164px;
}

.flex-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 10px 0px;
    align-items: flex-end;
}

.publish {
    height: 48px;
    width: 160px;
    background-color: #03045E;
    color: #ffffff;
    font-size: 20px;
    border-radius: 16px;
    border: 0;
}

.wrapper-3 {
    padding: 0px 40px 0px 40px;
    /*border-right: 2px solid #E5E5E5;
    border-left: 2px solid #E5E5E5;*/
}

.user-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.photo {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.name, .user {
    font-weight: bold;
    font-size: 24px;
}

.user {
    color: #E5E5E5;
}

.icon-1 {
    height: 16px;
    width: 16px;
}

.icon-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.piu, .icon-bar {
    padding: 0px 40px 0px 40px;
}