* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#aside {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #03045E;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 0 8px 8px 0;
}

.aside-top {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#icon-home {
    cursor: auto;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.wrapper-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 10px 40px 10px 40px;
    gap: 40px;
}

.search, .texto-publicar {
    border: 2px solid #03045E;
    padding: 10px;
    border-radius: 16px;
    font-size: 16px;
    color: #000000;
    outline: none;
}

.search {
    width: 100%;
}

.wrapper-2, .wrapper-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.wrapper-2 {
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    padding: 10px 40px 0px 40px;
    height: 300px;
}

.texto-publicar {
    width: 100%;
    height: 164px;
    resize: none;
}

.flex-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 0px 10px 0px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.contador {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.publish {
    height: 48px;
    width: 160px;
    background-color: #03045E;
    color: #ffffff;
    font-size: 20px;
    border-radius: 16px;
    border: 0;
    cursor: pointer;
}

.publish:hover {
    background: #ffffff;
    color: #03045E;
    box-shadow: inset 0 0 0 3px #03045E;
}

.wrapper-3 {
    padding: 0px 40px 0px 40px;
    margin-bottom: 20px;
    /*border-right: 2px solid #E5E5E5;
    border-left: 2px solid #E5E5E5;*/
}

.piu-feed {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #03045E;
    border-radius: 16px;
    padding: 10px;
    margin-top: 10px;
}

.user-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.photo {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.name, .user, .my-name, .my-user {
    font-weight: bold;
    font-size: 24px;
    overflow-wrap: break-word;
}

.user, .my-user {
    color: #E5E5E5;
}

.icon-verify,.icon-like,.icon-talk,.icon-share,.icon-save,.icon-delete {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.icon-verify {
    cursor: auto;
}

.icon-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.piu, .icon-bar {
    padding: 0px 40px 0px 40px;
}

.piu {
    border: 2px solid #E5E5E5;
    padding: 10px;
    border-radius: 16px;
    font-size: 16px;
    color: #000000;
    outline: none;
    text-align: justify;
    padding-right: 10px;
}

.remover {
    display: none;
}

.fixedTop {
    /*order: -1;*/
    border: 2px solid #00BBF9;
    border-radius: 16px;
    padding: 10px;
    margin-top: 10px;
}

.texto-piu {
    overflow-wrap: break-word;
}